* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #061f47;
  color: white;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

main {
    flex: 1;
    background: linear-gradient(to bottom, #9ed2ff, #ffffff);
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

footer {
    background-color: white;/*#ccc;*/
    color: #333;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.container {
    background: white;
    padding: 2rem;
    border-radius:  15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

form input {
    width: 70%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
}

form button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #005fa3;
}

.resultado {
    margin-top: 1.5rem;
}

.oculto {
    display: none;
}

#loading {
    margin-top: 1rem;
    font-weight: bold;
}

#icono-clima {
    border-radius: 20px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
}